.jumbotron {
  background: url('https://static1.squarespace.com/static/51c9f430e4b014f2c6e072b9/t/51e601efe4b05ef2d656be5a/1374028274035/2013Sketchbook.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 500px;
  max-width: 100%;
  border: 1px solid darkgrey;
  margin: 0 auto;
}

.learn-more-btn {
  float: right;
  margin-top: 375px;
  font-size: 30px;
}


.thumbnail img {
  min-height:300px;
  height:300px;
  min-width: 100px;
  max-width: 100%;
/*   padding: 5px; */
/*   border: 1px solid red; */
}

.thumbnail {
  margin: 0px 0 10px 0;
}

.caption h3 {
text-align: center;
margin: 0px 0 30px 0;
}


.btn-warning a {
  color: white;
}



footer {
  padding: 25px 0;
  background-color: black;
  color: white;

}

footer ul {
  text-style: underline
}
footer ul li {
  list-style: none;
   font-size: 16px;
}


/* mobile first  */
@media screen and (max-width: 465px) {
  .jumbotron {
  background: url('https://static1.squarespace.com/static/51c9f430e4b014f2c6e072b9/t/51e601efe4b05ef2d656be5a/1374028274035/2013Sketchbook.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100px;
  min-width: auto;

}

  .learn-more-btn {
  float: left;
  margin-top: 0px;
  font-size: 16px;
}

}


/* mobile first  */
 @media screen and (min-width: 466px) and (max-width: 550px) {
  .jumbotron {
  background: url('https://static1.squarespace.com/static/51c9f430e4b014f2c6e072b9/t/51e601efe4b05ef2d656be5a/1374028274035/2013Sketchbook.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 355px;
  min-width: 100%;
}

  .learn-more-btn {
  margin-top: 250px;
  font-size: 22px;
}
}

@media screen and (min-width: 551px) and (max-width: 650px) {
  .jumbotron {
  background: url('https://static1.squarespace.com/static/51c9f430e4b014f2c6e072b9/t/51e601efe4b05ef2d656be5a/1374028274035/2013Sketchbook.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 425px;
  min-width: 100%;
}

  .learn-more-btn {
  margin-top: 300px;
  font-size: 26px;
}

}

@media screen and (min-width: 992px) {
  .jumbotron {
  background: url('https://static1.squarespace.com/static/51c9f430e4b014f2c6e072b9/t/51e601efe4b05ef2d656be5a/1374028274035/2013Sketchbook.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 765px;
/*     min-height: 100%; */
  min-width: 100%;
}

  .learn-more-btn {
  margin-top: 580px;
  font-size: 34px;
}

}
